* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn, .design-content .design-btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #fff;
}
.btn:hover, .design-content .design-btn:hover {
  background-color: #7f4b4b;
  color: #fff;
}

.top {
  background-color: rgb(11, 127, 222);
  width: 100%;
  padding: 5px;
  color: #fff;
}
.top-content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  font-size: 20px;
}
.top-content p a {
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 481px) {
  .top-content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 5px;
    font-size: 12px;
  }
  .top-content p a {
    text-decoration: none;
    color: #fff;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(315deg, #121212 0%, #3a3a3b 100%);
  padding-right: 0px;
}
nav .logo {
  margin-left: 50px;
}
nav .logo img {
  width: 150px;
  height: 40px;
}
nav .nav-links {
  padding: 10px;
}
@media only screen and (max-width: 481px) {
  nav .nav-links {
    width: 80%;
  }
}
nav .nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 400px;
}
@media only screen and (max-width: 481px) {
  nav .nav-links ul {
    display: none;
  }
}
nav .nav-links ul li {
  float: right;
  text-align: center;
  padding: 15px 20px;
  margin-left: 40px;
  font-size: large;
  text-transform: uppercase;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
}
nav .last {
  color: #fff;
  background-color: darkorange;
  font-weight: 100;
  height: 100%;
  padding: 30px;
}
@media only screen and (max-width: 481px) {
  nav .last {
    display: none;
  }
}
@media only screen and (max-width: 481px) {
  nav {
    height: 60px;
  }
  nav .logo {
    margin-left: 20px;
  }
  nav .logo img {
    width: 60px;
    height: 30px;
  }
  nav .logo .nav-links {
    display: none;
  }
}

.header {
  background-image: url("../images/banner2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70vh;
  margin-top: 0px;
}
.header-content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: auto;
  padding-top: 100px;
}
@media only screen and (max-width: 481px) {
  .header-content {
    flex-direction: column;
    padding-top: 20px;
  }
}
.header-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 90px;
  margin-top: 100px;
}
@media only screen and (max-width: 481px) {
  .header-content-left {
    padding-left: 20px;
    margin-top: 20px;
  }
}
.header-content-left p {
  font-size: 50px;
  line-height: 1.4;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 481px) {
  .header-content-left {
    padding-left: 20px;
  }
  .header-content-left p {
    font-size: 20px;
    line-height: 1.4;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
}
.header-content-btn {
  border-radius: 50px;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
.header-content-btn:hover {
  background-color: #7f4b4b;
  color: #fff;
}
@media only screen and (max-width: 481px) {
  .header-content-btn {
    padding: 10px 20px;
    font-size: 12px;
    margin: 20px auto;
  }
}
.header form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 420px;
  height: 120%;
  background-color: #fff;
  margin-top: 195px;
}
@media only screen and (max-width: 481px) {
  .header form {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
}
.header form h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  background-color: darkorange;
  padding: 10px;
}
@media only screen and (max-width: 481px) {
  .header form h3 {
    font-size: 10px;
    padding: 5px;
  }
}
.header form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 5px;
  flex-wrap: wrap;
}
.header form .form-group input {
  width: 45%;
  padding: 15px;
  border: 1px solid lightgray;
  margin: 5px;
  outline: none;
  font-size: smaller;
  color: lightgray;
}
.header form .form-group input:focus {
  border: 1px solid darkorange;
}
.header form .b {
  margin-left: 19px;
}
@media only screen and (max-width: 481px) {
  .header form .b {
    margin-left: 0px;
  }
}
.header form p {
  font-weight: 600;
  font-size: 13px;
  color: #abaeaf;
}
@media only screen and (max-width: 481px) {
  .header form p {
    font-size: 10px;
    text-align: center;
    width: 100%;
  }
}
.header form p span {
  color: darkorange;
}
.header form hr {
  width: 90%;
  height: 2px;
  background-color: darkorange;
  margin-top: 5px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 481px) {
  .header form hr {
    width: 100%;
  }
}
.header form .more {
  font-size: x-small;
  padding: 10px 0px;
}
@media only screen and (max-width: 481px) {
  .header form .more {
    font-size: 10px;
    align-self: center;
  }
}
.header form .search-btn {
  width: 40%;
  padding: 15px;
  border-radius: 3px;
  margin: 8px 20px;
  background-color: darkorange;
  color: #fff;
  font-size: x-small;
  font-weight: 100;
  letter-spacing: 3px;
  border: 1px solid darkorange;
}
.header form .search-btn:hover {
  background-color: #fff;
  color: darkorange;
}
@media only screen and (max-width: 481px) {
  .header form .search-btn {
    width: 100%;
    margin: 8px 0px;
  }
}

.design {
  background-image: url("../images/design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px 250px;
}
@media only screen and (max-width: 481px) {
  .design {
    padding: 30px 10px;
    text-align: center;
    height: 350px;
  }
}
.design-content h1 {
  font-size: 50px;
  font-weight: 100;
  color: #121212;
  margin-bottom: 20px;
}
@media only screen and (max-width: 481px) {
  .design-content h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.design-content p {
  font-size: 25px;
  font-weight: 100;
  color: #292828;
  margin-bottom: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
}
@media only screen and (max-width: 481px) {
  .design-content p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.design-content .design-btn {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
  border-radius: 50px;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
.design-content .design-btn:hover {
  background-color: darkorange;
  color: #fff;
}
@media only screen and (max-width: 481px) {
  .design-content .design-btn {
    padding: 10px 20px;
    font-size: 12px;
    margin: 20px auto;
  }
}

.price {
  background-color: #004b49;
}
.price-content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.price-content h1 {
  color: #fff;
  line-height: 45px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
.price-content p {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  line-height: 1.2;
  margin: 25px 250px;
}
@media only screen and (max-width: 481px) {
  .price-content {
    padding: 30px 5px;
  }
  .price-content h1 {
    font-size: 16px;
    line-height: 30px;
  }
  .price-content p {
    font-size: 13px;
    margin: 20px 8px;
  }
}
.price-content form {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  .price-content form {
    margin: 10px;
  }
}
.price-content form > * {
  margin: 0px 10px;
}
@media only screen and (max-width: 481px) {
  .price-content form {
    flex-direction: column;
    margin: 5px 10px;
  }
  .price-content form > * {
    margin: 10px 0px;
  }
}
.price-content form .price label,
.price-content form .location label {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}
@media only screen and (max-width: 481px) {
  .price-content form .price label,
.price-content form .location label {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin: auto;
  }
}
.price-content form .price select,
.price-content form .location select {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  color: #fff;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.3;
  font-size: 20px;
  font-weight: 100;
}
@media only screen and (max-width: 481px) {
  .price-content form .price select,
.price-content form .location select {
    font-size: 12px;
    padding: 8px;
  }
}
.price-content form .search {
  background-color: #fff;
  padding: 10px;
  align-self: flex-end;
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
@media only screen and (max-width: 481px) {
  .price-content form .search {
    width: 100%;
    height: 35px;
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 481px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards > :first-child {
  background-image: url("../images/firstimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cards > :nth-child(2) {
  background-image: url("../images/secondimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cards > :nth-child(3) {
  background-color: #800020;
}
.cards > * {
  padding: 100px 150px;
}
@media only screen and (max-width: 481px) {
  .cards > * {
    padding: 20px 10px;
  }
}
.cards > * h1 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 20px;
}
@media only screen and (max-width: 481px) {
  .cards > * h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.cards > * h3 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  font-weight: lighter;
}
@media only screen and (max-width: 481px) {
  .cards > * h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.cards > * h2 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  font-weight: lighter;
  margin-top: 50px;
}
@media only screen and (max-width: 481px) {
  .cards > * h2 {
    font-size: 16px;
    margin: 10px;
  }
}
.cards > * h2 a {
  text-decoration: none;
  color: #fff;
}

.blogs {
  background-color: #fff;
  padding: 100px 0px;
}
@media only screen and (max-width: 481px) {
  .blogs {
    padding: 30px 0px;
  }
}
.blogs-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
@media only screen and (max-width: 481px) {
  .blogs-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    grid-column-gap: 20px;
  }
}
.blogs .blog-card {
  background: rgba(211, 211, 211, 0.194);
}
.blogs .blog-card-img img {
  width: 100%;
  height: 300px;
}
@media only screen and (max-width: 481px) {
  .blogs .blog-card-img img {
    height: 200px;
  }
}
.blogs .blog-card-content {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
@media only screen and (max-width: 481px) {
  .blogs .blog-card-content {
    padding: 5px;
  }
}
.blogs .blog-card-content h3 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
@media only screen and (max-width: 481px) {
  .blogs .blog-card-content h3 {
    font-size: 14px;
  }
}
.blogs .blog-card-content .blog-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  .blogs .blog-card-content .blog-details {
    justify-content: center;
  }
}

.letus {
  background-image: url("../images/backyellow.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0px;
}
@media only screen and (max-width: 481px) {
  .letus {
    padding: 30px 0px;
  }
}
.letus-content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media only screen and (max-width: 481px) {
  .letus-content {
    align-items: center;
  }
}
.letus-content h1 {
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  line-height: 60px;
  font-size: 60px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin: 40px 0;
}
@media only screen and (max-width: 481px) {
  .letus-content h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
  }
}
.letus-content button {
  background-color: #fff;
  color: #000;
  padding: 20px 20px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #fff;
}
.letus-content button:hover {
  background-color: #7f4b4b;
  color: #fff;
}
@media only screen and (max-width: 481px) {
  .letus-content button {
    padding: 10px 10px;
    font-size: 10px;
  }
}

.contact {
  background-color: rgba(211, 211, 211, 0.649);
}
.contact-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}
@media only screen and (max-width: 481px) {
  .contact-container {
    padding: 20px 5px;
  }
}
.contact-container h1 {
  font-weight: 100;
  color: black;
  line-height: 60px;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 481px) {
  .contact-container h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
.contact-container h3 {
  font-weight: 100;
  color: rgba(51, 49, 49, 0.519);
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 481px) {
  .contact-container h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
.contact-container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  .contact-container form {
    flex-direction: column;
    padding: 10px;
  }
}
.contact-container form > * {
  margin: 0px 20px;
  height: 60px;
}
@media only screen and (max-width: 481px) {
  .contact-container form > * {
    height: auto;
    margin: 5px 10px;
    width: 100%;
  }
}
.contact-container form input {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  color: #fff;
  width: 500px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 100;
}
@media only screen and (max-width: 481px) {
  .contact-container form input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }
}
.contact-container form button {
  border: none;
  background-color: rgb(144, 216, 21);
  padding: 10px 50px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 2px;
}
@media only screen and (max-width: 481px) {
  .contact-container form button {
    font-size: 13px;
    padding: 10px 50px;
  }
}

.started {
  background: linear-gradient(45deg, #97da07 0%, #3ca13a 100%);
}
.started-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-direction: column;
  color: white;
}
@media only screen and (max-width: 481px) {
  .started-container {
    flex-direction: column;
    padding: 20px;
  }
}
.started-container h1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 481px) {
  .started-container h1 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
  }
}
.started-container .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 481px) {
  .started-container .list {
    flex-direction: column;
  }
}
.started-container .list .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 25px;
  align-items: center;
  margin: 0px 50px;
}
@media only screen and (max-width: 481px) {
  .started-container .list .list-item {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.listing {
  background: linear-gradient(315deg, #121212 0%, #181819 100%);
  padding-top: 50px;
}
.listing-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.listing-container > :first-child {
  margin-left: 0px;
}
@media only screen and (max-width: 481px) {
  .listing-container > :first-child {
    margin: auto;
  }
  .listing-container > :first-child h3 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 481px) {
  .listing-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
  }
}
.listing-container .listing-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding-right: 180px;
}
@media only screen and (max-width: 481px) {
  .listing-container .listing-item {
    padding: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
}
.listing-container .listing-item h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 15px;
  font-weight: 300;
  color: #3ca13a;
}
@media only screen and (max-width: 481px) {
  .listing-container .listing-item h1 {
    font-size: 15px;
    text-align: center;
  }
}
.listing-container .listing-item h1 h3 {
  font-size: 10px;
}
@media only screen and (max-width: 481px) {
  .listing-container .listing-item h1 h3 {
    font-size: 10px;
  }
}
.listing-container .listing-item ul {
  list-style: none;
}
.listing-container .listing-item ul li {
  font-size: 15px;
  font-weight: 100;
  font-weight: 300;
  padding: 8px 0px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 481px) {
  .listing-container .listing-item ul li {
    font-size: 12px;
    padding: 4px 0px;
  }
}
.listing-container > :nth-child(3) {
  margin-right: 0px;
  display: flex;
  align-self: center;
  flex-direction: row;
  padding-right: 0px;
}
.listing-container > :nth-child(3) .right {
  margin-left: 100px;
}

.terms {
  background: linear-gradient(315deg, #121212 0%, #181819 100%);
}
.terms .terms-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.terms .terms-container .fhr {
  border-bottom: 1px solid #fff;
  width: 100%;
}
.terms .terms-container .terms-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px;
  margin: 10px 0px;
  color: #fff;
}
@media only screen and (max-width: 481px) {
  .terms .terms-container .terms-items {
    flex-direction: column;
    margin: 10px;
    padding: 3px;
  }
}
.terms .terms-container .terms-items li {
  font-size: 15px;
  font-weight: 100;
  font-weight: 300;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin: 0 20px;
}
@media only screen and (max-width: 481px) {
  .terms .terms-container .terms-items li {
    font-size: 12px;
    padding: 4px 0px;
  }
}

.bottom {
  background-color: #000;
  color: #414141;
  padding: 20px;
}
.bottom-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.bottom-container .socials {
  margin-bottom: 10px;
}
.bottom-container .socials img {
  width: 50px;
  height: 50px;
  margin: 0px 25px;
}
@media only screen and (max-width: 481px) {
  .bottom-container .socials img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }
}
.bottom-container p {
  font-size: 20px;
  font-weight: 100;
  font-weight: 300;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin: 0 20px;
}/*# sourceMappingURL=style.css.map */