//variables
$primary-color: #fff;
$primary-color-two: #7f4b4b;
$secondary-color: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin row {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
@mixin a {
  text-decoration: none;
  color: $primary-color;
}
@mixin background-image($image) {
  background-image: url($image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// mixin for break point
@mixin devices($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == tablet {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

//btn extend
.btn {
  background-color: #fff;
  color: $secondary-color;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid $primary-color;
  &:hover {
    background-color: $primary-color-two;
    color: $primary-color;
  }
}

.top {
  background-color: rgb(11, 127, 222);
  width: 100%;
  padding: 5px;
  color: $primary-color;

  &-content {
    @include row;

    padding: 15px 10px;
    font-size: 20px;
    p {
      a {
        @include a;
      }
    }
  }
  @include devices(mobile) {
    &-content {
      @include row;
      flex-direction: column;
      padding: 5px 5px;
      font-size: 12px;
      p {
        a {
          @include a;
        }
      }
    }
  }
}
// navbar
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(315deg, #121212 0%, #3a3a3b 100%);
  width: 100%;

  padding-right: 0px;
  .logo {
    margin-left: 50px;
    img {
      width: 150px;
      height: 40px;
    }
  }
  .nav-links {
    padding: 10px;
    @include devices(mobile) {
      width: 60%;
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin-left: 400px;
      @include devices(mobile) {
        display: none;
      }
      li {
        float: right;
        text-align: center;
        padding: 15px 20px;
        margin-left: 40px;
        font-size: large;
        text-transform: uppercase;
        a {
          @include a;
        }
      }
    }
  }
  .last {
    color: $primary-color;
    background-color: darkorange;
    font-weight: 100;
    height: 100%;
    padding: 30px;
    @include devices(mobile) {
      display: none;
    }
  }
  @include devices(mobile) {
    height: 60px;
    .logo {
      margin-left: 20px;
      img {
        width: 60px;
        height: 30px;
      }
      .nav-links {
        display: none;
      }
    }
  }
}

.header {
  @include background-image("../images/banner2.jpeg");
  //make the image darken
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 70vh;
  margin-top: 0px;
  &-content {
    @include row;
    flex-direction: row;
    padding: auto;
    padding-top: 100px;
    @include devices(mobile) {
      flex-direction: column;
      padding-top: 20px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 90px;
      margin-top: 100px;
      @include devices(mobile) {
        padding-left: 20px;
        margin-top: 20px;
      }

      p {
        font-size: 50px;
        line-height: 1.4;
        font-weight: lighter;
        color: $primary-color;
        margin-bottom: 20px;
      }
      @include devices(mobile) {
        padding-left: 20px;
        p {
          font-size: 20px;
          line-height: 1.4;
          font-weight: lighter;
          color: $primary-color;
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
    &-btn {
      //button curved
      border-radius: 50px;
      padding: 20px 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 100;
      background-color: #fff;
      color: $secondary-color;
      border: 1px solid $primary-color;
      &:hover {
        background-color: $primary-color-two;
        color: $primary-color;
      }
      @include devices(mobile) {
        padding: 10px 20px;
        font-size: 12px;
        margin: 20px auto;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 420px;
    height: 120%;
    background-color: #fff;
    margin-top: 195px;
    @include devices(mobile) {
      width: 100%;
      height: 100%;
      margin-top: 0px;
    }

    h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 5px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      background-color: darkorange;
      padding: 10px;
      @include devices(mobile) {
        font-size: 10px;
        padding: 5px;
      }
    }
    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 5px;
      flex-wrap: wrap;
      // @include devices(mobile) {
      //   flex-direction: column;
      // }

      input {
        width: 45%;
        padding: 15px;
        border: 1px solid lightgray;
        margin: 5px;
        outline: none;
        font-size: smaller;
        color: lightgray;
        &:focus {
          border: 1px solid darkorange;
        }
        // @include devices(mobile) {
        //   width: 100%;
        //   padding: 10px;
        //   margin: 0px;
        // }
      }
    }
    .b {
      margin-left: 19px;
      @include devices(mobile) {
        margin-left: 0px;
      }
    }
    p {
      font-weight: 600;
      font-size: 13px;
      @include devices(mobile) {
        font-size: 10px;
        text-align: center;
        width: 100%;
      }
      color: #abaeaf;
      span {
        color: darkorange;
      }
    }
    hr {
      width: 90%;
      height: 2px;
      background-color: darkorange;
      margin-top: 5px;
      margin-bottom: 8px;
      @include devices(mobile) {
        width: 100%;
      }
    }
    .more {
      font-size: x-small;
      padding: 10px 0px;
      @include devices(mobile) {
        font-size: 10px;
        align-self: center;
      }
    }
    .search-btn {
      width: 40%;
      padding: 15px;
      border-radius: 3px;
      margin: 8px 20px;
      background-color: darkorange;
      color: #fff;
      font-size: x-small;
      font-weight: 100;
      letter-spacing: 3px;
      border: 1px solid darkorange;
      &:hover {
        background-color: #fff;
        color: darkorange;
      }
      @include devices(mobile) {
        width: 100%;
        margin: 8px 0px;
      }
    }
  }
}
// ........section design........
.design {
  @include background-image("../images/design.png");
  height: 500px;
  padding: 50px 250px;
  @include devices(mobile) {
    padding: 30px 10px;
    text-align: center;
    height: 350px;
  }
  &-content {
    h1 {
      font-size: 50px;
      font-weight: 100;
      color: #121212;
      margin-bottom: 20px;
      @include devices(mobile) {
        font-size: 25px;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 25px;
      font-weight: 100;
      color: #292828;
      margin-bottom: 20px;
      line-height: 1.3;
      letter-spacing: 1px;
      @include devices(mobile) {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    .design-btn {
      @extend .btn;
      color: #a9a9a9;
      border: 2px solid #a9a9a9;
      border-radius: 50px;
      padding: 20px 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      letter-spacing: 1px;
      &:hover {
        background-color: darkorange;
        color: #fff;
      }
      @include devices(mobile) {
        padding: 10px 20px;
        font-size: 12px;
        margin: 20px auto;
      }
    }
  }
}
// section price
.price {
  background-color: #004b49;

  &-content {
    @include row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    h1 {
      color: #fff;
      line-height: 45px;
      font-size: 40px;
      font-weight: 100;
      text-align: center;
    }
    p {
      color: #fff;
      font-size: 25px;
      font-weight: 100;
      text-align: center;
      line-height: 1.2;
      margin: 25px 250px;
    }
    @include devices(mobile) {
      padding: 30px 5px;
      h1 {
        font-size: 16px;
        line-height: 30px;
      }
      p {
        font-size: 13px;
        margin: 20px 8px;
      }
    }
    form {
      margin: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include devices(mobile) {
        margin: 10px;
      }
      > * {
        margin: 0px 10px;
      }
      @include devices(mobile) {
        flex-direction: column;
        margin: 5px 10px;
        > * {
          margin: 10px 0px;
        }
      }
      .price,
      .location {
        label {
          color: #fff;
          font-size: 20px;
          font-weight: 100;
          @include devices(mobile) {
            font-size: 12px;
            text-align: center;
            width: 100%;
            margin: auto;
          }
        }
        select {
          padding: 10px;
          border: 1px solid #fff;
          border-radius: 3px;
          outline: none;
          color: #fff;
          width: 300px;
          //darken the background color
          background-color: rgba(0, 0, 0, 0.9);
          opacity: 0.3;
          font-size: 20px;
          font-weight: 100;
          @include devices(mobile) {
            font-size: 12px;
            padding: 8px;
          }
        }
      }
      //search icon
      .search {
        background-color: #fff;
        padding: 10px;
        align-self: flex-end;
        width: 80px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        @include devices(mobile) {
          width: 100%;
          height: 35px;
        }
      }
    }
  }
}
// ..........cards section........
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  text-align: center;
  @include devices(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  > :first-child {
    @include background-image("../images/firstimage.jpg");
  }
  > :nth-child(2) {
    @include background-image("../images/secondimage.jpg");
  }
  > :nth-child(3) {
    background-color: #800020;
  }
  > * {
    padding: 100px 150px;
    @include devices(mobile) {
      padding: 20px 10px;
    }
    h1 {
      font-size: 25px;
      font-weight: 100;
      margin-bottom: 20px;
      @include devices(mobile) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 20px;
      font-weight: lighter;
      @include devices(mobile) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    h2 {
      font-size: 16px;
      font-weight: 100;
      margin-bottom: 20px;
      font-weight: lighter;
      margin-top: 50px;
      @include devices(mobile) {
        font-size: 16px;
        margin: 10px;
      }
      a {
        @include a;
      }
    }
  }
}
//  ............blogs section........
.blogs {
  background-color: #fff;
  padding: 100px 0px;
  @include devices(mobile) {
    padding: 30px 0px;
  }
  &-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 40px;
    grid-column-gap: 40px;
    @include devices(mobile) {
      grid-template-columns: repeat(2, 1fr);
      padding: 5px;
      grid-column-gap: 20px;
    }
  }

  .blog-card {
    background: rgba(211, 211, 211, 0.194);
    &-img {
      img {
        width: 100%;
        height: 300px;
        @include devices(mobile) {
          height: 200px;
        }
      }
    }
    &-content {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      @include devices(mobile) {
        padding: 5px;
      }
      h3 {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 10px;
        @include devices(mobile) {
          font-size: 14px;
        }
      }
      .blog-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include devices(mobile) {
          justify-content: center;
        }
      }
    }
  }
}
//LETUS
.letus {
  @include background-image("../images/backyellow.jpeg");
  padding: 100px 0px;
  @include devices(mobile) {
    padding: 30px 0px;
  }

  &-content {
    @include row;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    @include devices(mobile) {
      align-items: center;
    }
    h1 {
      font-size: 50px;
      font-weight: 100;
      color: $primary-color;
      line-height: 60px;
      font-size: 60px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      margin: 40px 0;
      @include devices(mobile) {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0;
      }
    }
    button {
      background-color: #fff;
      color: $secondary-color;
      padding: 20px 20px;
      border-radius: 30px;
      font-weight: 600;
      letter-spacing: 1px;
      border: 1px solid $primary-color;
      &:hover {
        background-color: $primary-color-two;
        color: $primary-color;
      }
      @include devices(mobile) {
        padding: 10px 10px;
        font-size: 10px;
      }
    }
  }
}

// ....contact us section.....
.contact {
  background-color: rgba(211, 211, 211, 0.649);
  &-container {
    @include row;
    flex-direction: column;
    padding: 40px 100px;
    @include devices(mobile) {
      padding: 20px 5px;
    }
    h1 {
      font-weight: 100;
      color: black;
      line-height: 60px;
      font-size: 40px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      font-weight: 600;
      @include devices(mobile) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    h3 {
      font-weight: 100;
      color: rgba(51, 49, 49, 0.519);
      line-height: 40px;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      @include devices(mobile) {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }
    }
    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include devices(mobile) {
        flex-direction: column;
        padding: 10px;
      }
      > * {
        margin: 0px 20px;
        height: 60px;
        @include devices(mobile) {
          height: auto;
          margin: 5px 10px;
          width: 100%;
        }
      }

      input {
        padding: 20px;
        border: 1px solid #fff;
        border-radius: 3px;
        outline: none;
        color: #fff;
        width: 500px;
        @include devices(mobile) {
          width: 100%;
          padding: 10px;
          font-size: 15px;
        }

        //darken the background color
        background-color: #fff;

        font-size: 20px;
        font-weight: 100;
      }
      button {
        border: none;
        background-color: rgb(144, 216, 21);
        padding: 10px 50px;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        letter-spacing: 2px;
        @include devices(mobile) {
          font-size: 13px;
          padding: 10px 50px;
        }
      }
    }
  }
}
///////////starters section///////////
.started {
  background: linear-gradient(45deg, #97da07 0%, #3ca13a 100%);
  &-container {
    @include row;
    padding: 40px;
    flex-direction: column;
    color: white;
    @include devices(mobile) {
      flex-direction: column;
      padding: 20px;
    }
    h1 {
      font-size: 35px;
      font-weight: 100;
      margin-bottom: 30px;
      font-weight: 600;
      @include devices(mobile) {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 300;
      }
    }
    .list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include devices(mobile) {
        flex-direction: column;
      }

      .list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 500;
        font-size: 25px;
        align-items: center;
        margin: 0px 50px;
        @include devices(mobile) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
// listing of the offices
.listing {
  background: linear-gradient(315deg, #121212 0%, #181819 100%);
  padding-top: 50px;
  &-container {
    @include row;
    justify-content: center;
    align-items: flex-start;
    > :first-child {
      margin-left: 0px;
      @include devices(mobile) {
        margin: auto;
        h3 {
          font-size: 13px;
        }
      }
    }
    @include devices(mobile) {
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0px;
    }

    .listing-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      color: #fff;
      padding-right: 180px;
      @include devices(mobile) {
        padding: 10px;
        text-align: center;
        justify-items: center;
        align-items: center;
      }
      h1 {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 15px;
        font-weight: 300;
        color: #3ca13a;
        @include devices(mobile) {
          font-size: 15px;
          text-align: center;
        }
        h3 {
          font-size: 10px;
          @include devices(mobile) {
            font-size: 10px;
          }
        }
      }
      ul {
        list-style: none;

        li {
          font-size: 15px;
          font-weight: 100;
          font-weight: 300;
          padding: 8px 0px;
          letter-spacing: 1px;
          @include devices(mobile) {
            font-size: 12px;
            padding: 4px 0px;
          }
        }
      }
    }
    > :nth-child(3) {
      margin-right: 0px;
      display: flex;
      align-self: center;

      flex-direction: row;
      padding-right: 0px;

      .right {
        // width: 40%;
        margin-left: 100px;
      }
    }
  }
}

.terms {
  background: linear-gradient(315deg, #121212 0%, #181819 100%);
  .terms-container {
    @include row;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    .fhr {
      border-bottom: 1px solid #fff;
      width: 100%;
    }
    .terms-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 5px;
      margin: 10px 0px;
      color: #fff;
      @include devices(mobile) {
        flex-direction: column;
        margin: 10px;
        padding: 3px;
      }

      li {
        font-size: 15px;
        font-weight: 100;
        font-weight: 300;
        padding: 8px 0px;
        letter-spacing: 1px;
        margin: 0 20px;
        @include devices(mobile) {
          font-size: 12px;
          padding: 4px 0px;
        }
      }
    }
  }
}

.bottom {
  background-color: #000;
  color: #414141;
  padding: 20px;
  &-container {
    @include row;
    flex-direction: column;
    .socials {
      margin-bottom: 10px;
      img {
        width: 50px;
        height: 50px;
        margin: 0px 25px;
        @include devices(mobile) {
          width: 30px;
          height: 30px;
          margin: 0px 10px;
        }
      }
    }
    p {
      font-size: 20px;
      font-weight: 100;
      font-weight: 300;
      padding: 8px 0px;
      letter-spacing: 1px;
      margin: 0 20px;
    }
  }
}
